.photo {
    width: 130px;
    height: 105px;
    border-radius: 5px;
}

.selectedPage {
    font-weight: bold;
}

.pageNumbersContainer {
    padding-left: 10px;
    padding-top: 5px;
}

.pageNumbersContainer span:hover {
    cursor: pointer;
}